/* SignupPage.css */

.signup-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;

  text-align: center;
  background-color: #f8f8f8; /* Light gray background */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: #333; /* Text color */
}

.signup-heading {
  font-size: 24px;
  margin-bottom: 20px;
  color: #4a4a4a; /* Dark gray text color */
}

.signup-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.input-label {
  margin-bottom: 10px;
  text-align: left;
  font-size: 14px;
  color: #666; /* Lighter gray text color */
}

.signup-input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff; /* White input background */
  color: #333; /* Dark gray text color */
}

.signup-button {
  background-color: #009688; /* Teal color */
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #00796b; /* Darker teal on hover */
}

.login-link {
  margin-top: 20px;
  font-size: 14px;
  color: #666; /* Lighter gray text color */
}

.login-link-text {
  color: #009688; /* Teal color */
  text-decoration: none;
  font-weight: bold;
}

.modal-content p {
  color: #ff0000;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
