/* SignupPage.css */
 
.signup-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  text-align: center;
  background-color: #fff; /* Set background color for the entire container */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  border-radius: 8px; /* Add border radius for rounded corners */
}

.signup-heading {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333; /* Adjust the color based on Apple's design */
}

.signup-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; /* Adjust padding for inner content */
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.input-label {
  margin-bottom: 10px;
  text-align: left;
  font-size: 14px;
  color: #666; /* Adjust the color based on Apple's design */
}

.signup-input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signup-button {
  background-color: #0070c9; /* Adjust the color based on Apple's design */
  color: #fff; /* Adjust the color based on Apple's design */
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #034a90; /* Adjust the color based on Apple's design */
}

.login-link {
  margin-top: 20px;
  font-size: 14px;
  color: #333; /* Adjust the color based on Apple's design */
}

.login-link-text {
  color: #0070c9; /* Adjust the color based on Apple's design */
  text-decoration: none;
  font-weight: bold;
}

.modal-content p {
  color: #ff0000; /* Light red color */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Shadow for text */
}